aiofiles==24.1.0
fastapi==0.116.1
groq==1.1.2
keras==3.10.0
mediapipe==0.10.21
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.3.0
pillow==11.2.1
pydantic==2.11.7
python-dotenv==1.1.0
python-multipart==0.0.20
scikit-learn==1.6.1
tensorflow==2.19.0
torch==2.8.0
tqdm==4.67.1
transformers==4.56.2
uvicorn==0.35.0
websockets==15.0.1